{% extends 'base.html.twig' %}

{% block title %}{% if app.user %}Profile : {{ app.user.nom }} {{ app.user.prenom }}{% endif %}{% endblock %}

{% block body %}

{% include 'header.html.twig' %}
{% if app.user %}
<div id="titlebar" class="single submit-page">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-plus-circle"></i> Manage Profile/Edit Password</h2>
				{% for message in app.flashes('message') %}
				  <h4>{{message}}</h4>
		        {% endfor %}
		</div>

	</div>
</div>
<div class="container">
	
	<!-- Submit Page -->
	<div class="sixteen columns">
		<div class="submit-page">

           <form method="post">
			<!-- Email -->
			<div class="form">
				<h5>First Password</h5>
				<input class="search-field" type="password" id="fpassword" name="fpassword"/>
                <input type="checkbox" onclick="myFunction()">Show Password
			</div>
            <div class="form">
				<h5>Confirm Password</h5>
				<input class="search-field" type="password" id="cpassword" name="cpassword"/>
			</div>
            <input type="submit" class="btn blue" value="Confirm"/>
            </form>
			<div class="divider margin-top-0"></div>
			<a href="{{path('profile')}}" class="button big margin-top-5">Back to manage Profile <i class="fa fa-arrow-circle-right"></i></a>


		</div>
	</div>

</div>
{% else %}
<div id="titlebar" class="single submit-page">
	<div class="container">

		<div class="sixteen columns">
			<h2><i class="fa fa-plus-circle"></i> Manage Profile</h2>
		</div>

	</div>
</div>
<div class="container">
	
	<!-- Submit Page -->
	<div class="sixteen columns">
      <h3> You have to login first to access this page </h3>
	</div>

</div>
{% endif %}
{% include 'footer.html.twig' %}
</div>
{% endblock %}
{% block js %}
<script>function myFunction() {
  var x = document.getElementById("fpassword");
  var y = document.getElementById("cpassword");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
    if (y.type === "password") {
    y.type = "text";
  } else {
    y.type = "password";
  }
}</script>
{% endblock %}