{% extends 'base.html.twig' %}

{% block title %}Ajouter un Recruiteur{% endblock %}

{% block body %}
    <h1>Add Or Edit Recruiter</h1>
    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}