{% extends 'base.html.twig' %}

{% block title %}Ajouter un Administrateur{% endblock %}

{% block body %}
    <h1>Add or Edit Admin</h1>
    {{ form_start(form) }}

    {{ form_end(form) }}
{% endblock %}